.border {
    border: 2px solid rgb(180, 180, 180);
}

.user-select_none {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    text-align: center;
    margin: 4rem 0;
}

.field {
    margin: auto;
    padding: 0.75rem;

    width: 500px;
    height: 500px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.box {
    background-color: rgb(240, 240, 240);
    text-align: center;
    cursor: pointer;

    font-size: 64px;
    line-height: 109px;
}

@media screen and (max-width: 520px) {
    h1 {
        margin: 2rem 0;
    }

    .field {
        width: 260px;
        height: 260px;
    }

    .box {
        font-size: 32px;
        line-height: 49px;
    }
}
